<div class="row">
    <h3 class="card">{{article.title}}</h3>
    <h5 class="card-panel articleBody">{{body}}</h5>
</div>

<div class="row">
    <div class="col-sm-2"></div>

    <form action="/comment/{{article._id}}" method="POST" class="card-panel col-sm-8">
        <h5>Add Comment</h5>
        <div class="row">

            <div class="input-field">
                <input id="commentName" type="text" placeholder="Name" name="name" class="">
            </div>

            <div class="input-field">
                <i class="">Comment</i>
                <input id="commentBody" type="text" placeholder="Comment" name="comment" class="">
            </div>

        </div>

        <div class="row">
            <div class="input-field">
                <center><input class="btn" type="submit" value="Submit"></center>
            </div>
        </div>

    </form>
</div>

<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm8">
        <h3>Comments:</h3>
        {{#if article.comment}}
        {{#each article.comment}}

        <div class="card">
            <p id="nameComment">{{name}}</p>
            <p>{{body}}<p>
        </div>

        {{/each}}

        {{else}}
        <p>This article has no comments.</p>
        {{/if}}
    </div>

</div>